<div class='board'>
  <div class='board-item'>
    <%= link_to "#{@courses_count} courses", courses_path %>
  </div>
  <div class='board-item'>
    <%= link_to "#{@teachers_count} teachers", teachers_path %>
  </div>
</div>
