<section class="container">
  <div class="right-container">
    <div class="row">
      <div class="column"><h2><%= @course.nil? ? 'All Teachers' : "Teacher of the course - #{@course.title}" %></h2></div>
    </div>
    <div class="row">
      <% @teachers.each do |teacher| %>
        <%= render partial: 'teacher', locals: { teacher: teacher } %>
      <% end %>
    </div>
    <div class="pagination-row">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</secion>
