<section class="container">
  <div class="right-container">
    <% if @course.nil? %>
      <div class="row">
        <div class="column"><h2>All Teachers</h2></div>
      </div>
    <% else %>
      <div class="row">
        <%= render partial: './courses/course', locals: { course: @course } %>
      </div>
    <% end %>
    <div class="row">
      <% @teachers.each do |teacher| %>
        <%= render partial: 'teacher', locals: { teacher: teacher } %>
      <% end %>
    </div>
    <div class="pagination-row">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</secion>
