<div class="column">
  <div class="card">
    <img src="<%= course.image_src %>" width="100%">
    <h3><%= course.title %></h3>
    <p><%= course.description %></p>
    <%= link_to 'Inscribirme', '#', class: 'inscription-button' %>
  </div>
</div>
