<section class="container">
  <div class="left-container">
    <%= render 'categories' %>
  </div>
  <div class="right-container">
    <div class="row">
      <div class="column"><h2><%= @category.nil? ? 'All Courses' : "Courses - #{@category.name}" %></h2></div>
    </div>
    <div class="row">
      <% @courses.each do |course| %>
        <%= render partial: 'course', locals: { course: course } %>
      <% end %>
    </div>
    <div class="row">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</secion>
