/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #eee;
    display: flex;
    padding: 20px 0;
    margin: 0;
}

.navbar-vertical {
    background-color: #ddd;
    min-width: 100px;
    max-width: 200px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-vertical ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
.navbar-vertical li a {
    display: block;
}

.navbar li {
    display: inline;
}

li.title a {
    font-size: 2em;
    text-decoration: none;
    padding: 10px 16px;
}

li.title a:hover {
    background-color: transparent;
    color: #f02d00;
}

li.item-li a {
    color: #000;
    padding: 20px 16px;
    text-decoration: none;
}

li.item-li a:hover {
    background-color: #f02d00;
    color: white;
}

.container {
    display: flex;
    padding: 1rem;
    width: 100%;
}
  
.left-container {
    flex: 1;
    width: 19%;
}
  
.right-container {
    flex: 8;
    width: 79%;
}
